* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(243, 248, 255);
}
#frame{
    height: 1000px;
}

#navigation {
    width: 100%;
    height: 70px;
    background-color: rgba(255, 255, 255, 1);
    top: 0px;
    position: fixed;
    z-index: 98;
}

#sidebar {
    width: 240px;
    height: 712px;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgb(25, 124, 254);
    z-index: 99;

}
#content{
    position: absolute;
    top: 70px;
    left: 240px;
}

.content-module {
    width: 1230px;
    height: 790px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 74px;
    left: 35px;
    z-index: 97;
    border-radius: 10px;
}
#content p{
    font-size: 20px;
    color: red;
}
.content-wordage-div{
    width: 24px;
    height: 8px;
    background-color: #006eff;
    position: absolute;
    left: 80px;
    border-radius: 50px;
}
.content-wordage-div1{
    width: 80px;
    height: 40px;
    background-color: rgb(219, 235, 255);
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin-left: 1090px;
    margin-top: -35px;
    color: #006eff;
}
.content-wordage-div1>span{
    line-height: 40px;
}
.content-wordage-div2{
    width: 80px;
    height: 40px;
    background-color: rgb(219, 235, 255);
    text-align: center;
    font-size: 14px;
    position: absolute;
    margin-left: 1180px;
    margin-top: -35px;
    color: #006eff;
}
.content-wordage-div2>span{
    line-height: 40px;
}
.content-wordage-div{
    margin-left: -50px;
    margin-top: 10px;
}
.content-wordage-span{
    margin-left: 70px;
    font-size: 24px;
}
.content-wordage{
    margin-top: 20px;
}





/* 右侧滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 0;
    background-color: rgb(168, 168, 168);
}








